.ant-menu-item {
  width: 200px;
  height: 40px;
  margin: 30px 10px 30px 0px;
  padding: 10px 10px 10px 0px;
  font-size: 14px;
  font-weight: 550;
  color: rgba(110,119,161,1);
  line-height: 20px;
  text-align: left;
}

.ant-menu-item:hover {
  color: rgb(31, 119, 243);
}
/* .ant-menu-item-active {
  width: 200px;
  height: 40px;
  margin: 30px 10px 30px 0px;
  padding: 10px 10px 10px 0px;
  font-size: 14px;
  font-family: PingFangSC-Regular,PingFang SC;
  font-weight: 550;
  color: rgb(223, 106, 39);
  line-height: 20px;
  text-align: left;
} */

.ant-menu-item-selected {
  width: 200px;
  height: 40px;
  margin: 30px 10px 30px 0px;
  padding: 10px 10px 10px 0px;
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #1f77f3 !important;
  line-height: 20px;
  text-align: left;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: transparent;
}

.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
  border-right: 0px solid #e8e8e8;
}

.ant-menu-inline {
  width: auto;
}

.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  /* border-right: 3px solid #1890ff; */
  -webkit-transform: scaleY(0.0001);
  transform: scaleY(0.0001);
  opacity: 0;
  -webkit-transition: opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  content: '';
}

.ant-menu-submenu-title {
  position: relative;
  display: block;
  margin: 0;
  padding: 0 20px;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), padding 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), padding 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
  width:56px;
  height:20px;
  font-size:14px;
  font-weight:600;
  color:rgba(32,43,79,1);
  line-height:20px;
}

.ant-layout-header {
  height: 64px;
  padding: 0 50px;
  line-height: 64px;
  background: #fff;
}