.ant-pagination-item {
  display: inline-block;
  min-width: 24px;
  max-width: 52px;
  height: 24px;
  margin-right: 8px;
  font-family: Arial;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  background-color: #fff;
  border: none;
  border-radius: 100px;
  outline: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ant-pagination-options .ant-select-selection__rendered {
  height: 24px;
  line-height: 22px;
}
.ant-pagination-item a {
  margin: 0;
  color: rgba(0, 0, 0, 0.65);
  text-decoration: none;
  -webkit-transition: none;
  transition: none;
}
.ant-pagination-item:focus,
.ant-pagination-item:hover {
  border-color: #fff;
  background-color: rgba(232, 241, 253, 1);
  transition: all 0.3s;
}
.ant-pagination-item:focus a,
.ant-pagination-item:hover a {
  color: #202b4f;
}
.ant-pagination-item-active {
  font-weight: 500;
  border-color: #202b4f;
  background-color: #202b4f;
}
.ant-pagination-item-active a {
  color: #fff;
  margin: 0 4px;
}
.ant-pagination-item-active:focus,
.ant-pagination-item-active:hover {
  border-color: #202b4f;
  background-color: #202b4f;
}
.ant-pagination-item-active:focus a,
.ant-pagination-item-active:hover a {
  color: #fff;
}
.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  display: block;
  height: 100%;
  font-size: 14px;
  text-align: center;
  background-color: #fff;
  border: 0px solid #d9d9d9;
  border-radius: 4px;
  outline: none;
  transition: all 0.3s;
}
/* .ant-pagination-options-quick-jumper {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
} */
.ant-pagination {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(142, 156, 168, 1);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum';
}
.ant-pagination .ant-select-selection {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f5f7f7;
  /* border: 1px solid; */
  border-color: transparent;
  border-radius: 4px;
  outline: none;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #333;
  height: 24px;
  font-size: 12px;
}
.ant-pagination-options-quick-jumper input {
  background: #f5f7f7;
  border-radius: 4px;
  border: none;
  height: 36px;
  color: #333;
}
