.ant-btn {
  height: 36px;
}
/* .ant-modal-footer  .ant-btn:hover {
  background-color:rgba(255,255,255,1);
  opacity: 0.15;
  color:rgba(104,124,138,1);
} */
/* .ant-btn:focus {
  height:36px;
  background-color:rgba(66,91,109,1);
  border-radius:4px;
  opacity:0.08;
} */
.ant-btn-primary {
  color: #fff;
  background-color: #202b4f;
  border-color: #202b4f;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  height: 36px;
}

.ant-btn-primary:hover {
  background-color: #374882;
  /* background-color: #2f3f75; */
  /* opacity: 0.5; */
  border-color: #374882;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.ant-btn-primary:focus {
  color: #fff;
  background-color: #202b4f;
  border-color: #202b4f;
}

/* .ant-btn {
  line-height: 1.499;
  height: 36px;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 0px solid transparent;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  height: 36px;
  padding: 0 15px;
  background: rgba(236,238,240,1);
  font-size: 14px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.65);
} */

.ant-btn-link {
  border: none;
  background: none;
  box-shadow: none;
}

.ant-input-search-enter-button .ant-input-group-addon {
  padding: 0 0 0 16px;
  border: 0;
}
.ant-input-group-addon {
  background: #eceef0;
}
.ant-input-search-enter-button .ant-input-group-addon .ant-input-search-button {
  width: 100%;
  border-radius: 4px;
  border-color: transparent;
  background: #1f77f3;
}
.ant-input-group > .ant-input-affix-wrapper:not(:last-child) .ant-input {
  border-radius: 4px;
}

.ant-btn-primary[disabled] {
  color: #d4d4d4;
  background-color: #f2f2f2;
  border-color: transparent;
  box-shadow: none;
  text-shadow: none;
}
.ant-btn-primary[disabled]:hover {
  color: #d4d4d4;
  background-color: #f2f2f2;
  border-color: transparent;
  box-shadow: none;
  text-shadow: none;
}

.ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline):not(.ant-btn-icon-only) {
  padding-left: 38px;
}
.ant-popover-buttons button.ant-btn-sm {
  margin-left: 12px;
  min-width: 76px;
  height: 30px;
}
.ant-popover-buttons button.ant-btn-sm:not(.ant-btn-primary) {
  background: #eceef0;
  color: #687c8a;
  border: 0;
}
.ant-popover-buttons button.ant-btn-sm:not(.ant-btn-primary):hover {
  background: #eff1f2;
  color: #687c8a;
}
.ant-popover-message {
  padding: 8px 0 20px;
}
.ant-popover-message > .anticon {
  font-size: 16px;
  top: 12px;
}
.ant-popover-message-title {
  padding-left: 22px;
  min-width: 272px;
  font-size: 16px;
  color: #333;
}
.ant-input-search .ant-input-suffix {
  background: #a8b3bf;
  width: 30px;
  height: 30px;
  text-align: center;
  display: block;
  line-height: 30px;
  border-radius: 4px;
  transition: 0.2s;
  right: 4px;
}
.ant-input-search .ant-input-suffix:hover {
  background: #1f77f3;
}

.ant-input-search .ant-input-suffix .ant-input-search-icon svg {
  display: none;
}

.ant-input-search .ant-input-suffix i.ant-input-search-icon {
  position: relative;
  height: 30px;
  width: 30px;
}
.ant-input-search .ant-input-suffix i.ant-input-search-icon:after {
  content: '\E6d0';
  font-family: 'uibot' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  content: '\E6d0';
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rotate {
  animation: rotateA 0.7s linear infinite;
}
@keyframes rotateA {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ub-taskView {
  cursor: pointer;
}
.ub-taskView:hover {
  color: #1f77f3;
}
.ant-select-selection__clear {
  border-radius: 50%;
}
